{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rédiger un plat</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Valider" />
    {{ form_end(form) }}

{% endblock %}
